<main>
  <!-- Your content here -->

  <!-- Animated Gif and Main Logo Card -->
  <div class="card z-depth-0 main-page-card">
    <div class="card-image waves-effect waves-block waves-light">
      <br>
      <img class="" src="./images/logos/PetCernAnnimation.gif">
      <br>
    </div>
    <div class="card-content-landing" align="center">
      <span class="welcome">
        <h4 align="center">...<span id="typed"></span></h4>
      </span>

      <br>
      <div class="row">

        <br><br><br>

        <!-- Bottom Modal Trigger for Sign In -->
        <div class="col s6"><a class="waves-effect blue btn modal-trigger" href="#modal1"><i class="material-icons left">person</i>Sign
            In</a></div>

        <!-- Modal Structure for Sign In -->
        <div id="modal1" class="modal bottom-sheet">
          <div class="modal-content">
            <h5>Sign into your <b style="font-size:20px"><strong>PET<font color="red">-</font>CERN</strong></b> account</h5>
          </div>
          <div class="container">
            <form class="col s12" method="post">
              <div class='row'>
                <div class='col s12'>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='email' name='email' id='email' />
                  <label for='email'>Enter your email</label>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='password' name='password' id='password' />
                  <label for='password'>Enter your password</label>
                </div>
                <label style='float: right;'>
                  <a class='blue-text' href='#!'><b>Forgot Password?</b></a>
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a type="submit" name="action" id="sign-in" class="modal-action modal-close waves-effect blue btn">Go</a>
          </div>
        </div>
        <!-- End of Modal -->

        <!-- Modal Trigger -->
        <div class="col s6"><a class="waves-effect blue btn modal-trigger" href="#modal2"><i class="material-icons left">person_add</i>Sign
            Up</a></div>

        <!-- Modal Structure for sign up-->
        <div id="modal2" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h5>Sign up for your FREE <b style="font-size:20px"><strong>PET<font color="red">-</font>CERN</strong></b>
              account</h5>
            <hr align="center" width="50%">
            <p align="left">Lorem ipsum dolor sit amet, duo an doctus viderer. Brute ornatus est ut, case accusata
              dignissim qui an, ad nam reque aperiri. Vide numquam reformidans ne vim, id eum clita eripuit periculis.
              Mei docendi repudiandae id, nec te case integre dolores, ei nec primis praesent expetendis.</p>
            <br>
            <p align="left">
              Agam aliquid ex vel, nam tritani pertinacia ex, sea eu regione intellegat. Id vis noster meliore
              sadipscing, case vocent eruditi sea ut, illum voluptua ea eam. No pro iisque detracto molestie, cu vis
              assentior elaboraret accommodare. Eam cu offendit deserunt posidonium.</p>
            <br>
            <p align="left">Lorem ipsum dolor sit amet, duo an doctus viderer. Brute ornatus est ut, case accusata
              dignissim qui an, ad nam reque aperiri. Vide numquam reformidans ne vim, id eum clita eripuit periculis.
              Mei docendi repudiandae id, nec te case integre dolores, ei nec primis praesent expetendis.</p>
          </div>
          <div class="modal-footer">
            <a href="#modal3" class="modal-action modal-close waves-effect blue btn modal-trigger">Get Started!</a>
          </div>
        </div>

        <div id="modal3" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h5>Fill me out ... </h5>
            <div id="register" class="col s12">
              <form class="col s12" id="sign-up" name="sign-up" method="POST" action='/signup'>
                <div class="form-container">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email1" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="phone" type="text" class="validate">
                      <label for="phone">Phone Number</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="address" type="text" class="validate">
                      <label for="address">Adress</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email-confirm" type="email" class="validate">
                      <label for="email-confirm">Email Confirmation</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password1" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password-confirm" type="password" class="validate">
                      <label for="password-confirm">Password Confirmation</label>
                    </div>
                  </div>
                  <!-- submit button -->
                  <div class="row">
                    <div class="col s12">
                      <a type="submit" name="action" id="new-sign-up" class="modal-action modal-close waves-effect blue btn">Sign
                        me up!</a>
                    </div>
                    <!-- end submit button -->
                  </div>
              </form>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
      <br>
      <img class="landing-logo" src="" width="80%" height"">
    </div>
  </div>
  <!-- End of hidden card content -->

</main>